.App {
  width: 100%;
  padding: 0;
  background-color: #afd4c0;
  min-height: 100vh;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.inner-header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: red;
}

.App-header {
  width: 100%;
  display: block;
  background-color: #519872;
  min-height: 10px;
  color: white;
}

#logo {
  float: left;
}

.dashboard {
  margin-left: 350px;
  padding-top: 20px;
  width: 720px;
  height: 80vh;
  background-color: white;
}
#dash-title {
  float: left;
  padding-left: 20px;
}

#add-property {
  float: right;
  padding-right: 20px;
}



